In [10]:
import settings
from bokeh.models import ColumnDataSource

In [11]:
from CovidCases import CovidCases

In [12]:
cases = CovidCases()

In [13]:
cases.select_state_week_data("gesamt", "Alle", "Infektionsfälle")

,Bundesland,week,AnzahlFall,AnzahlTodesfall,population,ratio,inzidenz
0,Baden-Württemberg,2020-09,20,0,11103043,0.000000,0.180131
1,Baden-Württemberg,2020-10,208,5,11103043,0.024038,1.873360
2,Baden-Württemberg,2020-11,1322,28,11103043,0.021180,11.906646
3,Baden-Württemberg,2020-12,4430,132,11103043,0.029797,39.898972
4,Baden-Württemberg,2020-13,7149,334,11103043,0.046720,64.387754
...,...,...,...,...,...,...,...
1487,Thüringen,2021-44,9300,117,2120237,0.012581,438.630210
1488,Thüringen,2021-45,11783,141,2120237,0.011966,555.739759
1489,Thüringen,2021-46,14599,114,2120237,0.007809,688.555100
1490,Thüringen,2021-47,19934,89,2120237,0.004465,940.177914
1491,Thüringen,2021-48,22059,37,2120237,0.001677,1040.402559

In [4]:
cases.select_state_agegroup_data("M", "2021-47", "Infektionsfälle")

,Bundesland,Altersgruppe,AnzahlFall,AnzahlTodesfall,population,ratio,inzidenz
0,Baden-Württemberg,A00-A04,906,0,281366,0.000000,322.000526
1,Baden-Württemberg,A05-A14,6125,0,523527,0.000000,1169.949210
2,Baden-Württemberg,A15-A34,8058,0,1396269,0.000000,577.109425
3,Baden-Württemberg,A35-A59,10558,4,1930419,0.000379,546.927895
4,Baden-Württemberg,A60-A79,3369,22,1088639,0.006530,309.468979
...,...,...,...,...,...,...,...
91,Thüringen,A05-A14,1589,0,94742,0.000000,1677.186464
92,Thüringen,A15-A34,2095,1,203868,0.000477,1027.625719
93,Thüringen,A35-A59,3649,3,374693,0.000822,973.863937
94,Thüringen,A60-A79,1389,13,264472,0.009359,525.197374
95,Thüringen,A80+,330,31,66663,0.093939,495.027226

In [5]:
cases.select_state_gender_data("A80+", "2021-47", "Infektionsfälle")

,Bundesland,Geschlecht,AnzahlFall,AnzahlTodesfall,population,ratio,inzidenz
0,Baden-Württemberg,M,706,34,296416,0.048159,238.178776
1,Baden-Württemberg,W,1046,36,455584,0.034417,229.595420
2,Baden-Württemberg,unbekannt,3,0,752000,0.000000,0.398936
3,Bayern,M,1279,74,340149,0.057858,376.011689
4,Bayern,W,1957,79,531440,0.040368,368.244769
5,Bayern,unbekannt,21,1,871589,0.047619,2.409393
6,Berlin,M,93,5,84187,0.053763,110.468362
7,Berlin,W,182,6,137055,0.032967,132.793404
8,Berlin,unbekannt,5,0,221242,0.000000,2.259969
9,Brandenburg,M,267,18,79206,0.067416,337.095675
10,Brandenburg,W,406,12,129458,0.029557,313.615227
11,Brandenburg,unbekannt,8,0,208664,0.000000,3.833915
12,Bremen,M,12,1,17822,0.083333,67.332510
13,Bremen,W,20,3,29550,0.150000,67.681895
14,Hamburg,M,35,3,42720,0.085714,81.928839
15,Hamburg,W,53,4,69819,0.075472,75.910569
16,Hamburg,unbekannt,1,0,112539,0.000000,0.888581
17,Hessen,M,218,14,165953,0.064220,131.362494
18,Hessen,W,330,12,256126,0.036364,128.842835
19,Hessen,unbekannt,11,0,422079,0.000000,2.606147
20,Mecklenburg-Vorpommern,M,122,4,48866,0.032787,249.662342
21,Mecklenburg-Vorpommern,W,177,7,84550,0.039548,209.343584
22,Niedersachsen,M,257,14,224970,0.054475,114.237454
23,Niedersachsen,W,357,14,355246,0.039216,100.493742
24,Niedersachsen,unbekannt,8,0,580216,0.000000,1.378797
25,Nordrhein-Westfalen,M,696,34,480686,0.048851,144.793067
26,Nordrhein-Westfalen,W,1031,39,782322,0.037827,131.787167
27,Nordrhein-Westfalen,unbekannt,8,0,1263008,0.000000,0.633408
28,Rheinland-Pfalz,M,212,15,114267,0.070755,185.530381
29,Rheinland-Pfalz,W,285,6,179159,0.021053,159.076574
30,Rheinland-Pfalz,unbekannt,2,0,293426,0.000000,0.681603
31,Saarland,M,73,3,29313,0.041096,249.036264
32,Saarland,W,114,4,48775,0.035088,233.726294
33,Saarland,unbekannt,1,0,78088,0.000000,1.280606
34,Sachsen,M,929,26,134791,0.027987,689.215155
35,Sachsen,W,1644,26,227196,0.015815,723.604289
36,Sachsen-Anhalt,M,249,11,69539,0.044177,358.072449
37,Sachsen-Anhalt,W,438,10,121772,0.022831,359.688598
38,Sachsen-Anhalt,unbekannt,4,0,191311,0.000000,2.090836
39,Schleswig-Holstein,M,58,3,87647,0.051724,66.174541
40,Schleswig-Holstein,W,84,1,132680,0.011905,63.310220
41,Thüringen,M,330,31,66663,0.093939,495.027226
42,Thüringen,W,618,24,112507,0.038835,549.299155
43,Thüringen,unbekannt,6,1,179170,0.166667,3.348775

In [6]:
cases.select_week_agegroup_data("M", "Bremen", "Infektionsfälle")

,week,Altersgruppe,AnzahlFall,AnzahlTodesfall,population,ratio,inzidenz
0,2020-10,A35-A59,2,0,114284,0.0,1.750026
1,2020-11,A15-A34,6,0,90423,0.0,6.635480
2,2020-11,A35-A59,17,0,114284,0.0,14.875223
3,2020-11,A60-A79,8,0,65232,0.0,12.263920
4,2020-12,A15-A34,23,0,90423,0.0,25.436006
...,...,...,...,...,...,...,...
483,2021-48,A05-A14,153,0,31050,0.0,492.753623
484,2021-48,A15-A34,201,0,90423,0.0,222.288577
485,2021-48,A35-A59,273,0,114284,0.0,238.878583
486,2021-48,A60-A79,51,0,65232,0.0,78.182487
487,2021-48,A80+,14,0,17822,0.0,78.554595

In [7]:
cases.select_week_gender_data("A80+", "Bremen", "Infektionsfälle")

,week,Geschlecht,AnzahlFall,AnzahlTodesfall,population,ratio,inzidenz
0,2020-12,M,1,1,17822,1.000000,5.611043
1,2020-12,W,3,0,29550,0.000000,10.152284
2,2020-13,M,2,1,17822,0.500000,11.222085
3,2020-13,W,4,0,29550,0.000000,13.536379
4,2020-14,M,6,3,17822,0.500000,33.666255
...,...,...,...,...,...,...,...
141,2021-46,W,15,0,29550,0.000000,50.761421
142,2021-47,M,12,1,17822,0.083333,67.332510
143,2021-47,W,20,3,29550,0.150000,67.681895
144,2021-48,M,14,0,17822,0.000000,78.554595
145,2021-48,W,19,0,29550,0.000000,64.297800

In [8]:
cases.select_agegroup_gender_data("2021-32", "Bremen", "Infektionsfälle")

,Altersgruppe,Geschlecht,AnzahlFall,AnzahlTodesfall,population,ratio,inzidenz
0,A00-A04,M,1,0,17579,0.000000,5.688606
1,A00-A04,W,4,0,16487,0.000000,24.261539
2,A05-A14,M,13,0,31050,0.000000,41.867955
3,A05-A14,W,11,0,29099,0.000000,37.801986
4,A15-A34,M,87,0,90423,0.000000,96.214459
5,A15-A34,W,58,0,82599,0.000000,70.218768
6,A35-A59,M,44,0,114284,0.000000,38.500578
7,A35-A59,W,38,0,111060,0.000000,34.215739
8,A60-A79,M,15,1,65232,0.066667,22.994849
9,A60-A79,W,9,0,74945,0.000000,12.008806
10,A80+,M,2,0,17822,0.000000,11.222085

In [11]:
source = ColumnDataSource(data=dict(x=[], y=[], inzidenz=[], cases=[], cases_death=[], ratio=[], population=[]))

In [20]:
source.data['x']=[1,2,3]

BokehUserWarning: ColumnDataSource's columns must be of the same length. Current lengths: ('cases', 0), ('cases_death', 0), ('inzidenz', 0), ('population', 0), ('ratio', 0), ('x', 3), ('y', 0)

In [21]:
source.data

{'x': [1, 2, 3],
 'y': [],
 'inzidenz': [],
 'cases': [],
 'cases_death': [],
 'ratio': [],
 'population': []}

In [3]:
import pandas as pd
import numpy as np

In [20]:
df = pd.DataFrame({"value": np.random.randint(0, 100, 20)})

In [21]:
df

    value
0      80
1      24
2      41
3      42
4      10
5      83
6      73
7      11
8      11
9      52
10     61
11     99
12     51
13     63
14     72
15     64
16      3
17     45
18     40
19     41

In [22]:
labels = ["{0} - {1}".format(i, i + 9) for i in range(0, 100, 10)]

In [23]:
labels

['0 - 9',
 '10 - 19',
 '20 - 29',
 '30 - 39',
 '40 - 49',
 '50 - 59',
 '60 - 69',
 '70 - 79',
 '80 - 89',
 '90 - 99']

0     80 - 89
1     20 - 29
2     40 - 49
3     40 - 49
4     10 - 19
5     80 - 89
6     70 - 79
7     10 - 19
8     10 - 19
9     50 - 59
10    60 - 69
11    90 - 99
12    50 - 59
13    60 - 69
14    70 - 79
15    60 - 69
16      0 - 9
17    40 - 49
18    40 - 49
19    40 - 49
Name: value, dtype: category
Categories (10, object): ['0 - 9' < '10 - 19' < '20 - 29' < '30 - 39' ... '60 - 69' < '70 - 79' < '80 - 89' < '90 - 99']

In [9]:
df

    value    group
0      73  70 - 79
1      83  80 - 89
2      99  90 - 99
3      88  80 - 89
4      99  90 - 99
5      73  70 - 79
6      75  70 - 79
7      93  90 - 99
8       4    0 - 9
9      58  50 - 59
10     54  50 - 59
11      5    0 - 9
12     36  30 - 39
13     94  90 - 99
14      8    0 - 9
15     31  30 - 39
16     99  90 - 99
17     51  50 - 59
18     18  10 - 19
19     74  70 - 79

In [37]:
df = cases.select_state_week_data("gesamt", "Alle", "Infektionsfälle")

In [38]:
df

,Bundesland,week,AnzahlFall,AnzahlTodesfall,population,ratio,inzidenz
0,Baden-Württemberg,2020-09,20,0,11103043,0.000000,0.180131
1,Baden-Württemberg,2020-10,208,5,11103043,0.024038,1.873360
2,Baden-Württemberg,2020-11,1322,28,11103043,0.021180,11.906646
3,Baden-Württemberg,2020-12,4430,132,11103043,0.029797,39.898972
4,Baden-Württemberg,2020-13,7149,334,11103043,0.046720,64.387754
...,...,...,...,...,...,...,...
1487,Thüringen,2021-44,9300,117,2120237,0.012581,438.630210
1488,Thüringen,2021-45,11783,141,2120237,0.011966,555.739759
1489,Thüringen,2021-46,14599,114,2120237,0.007809,688.555100
1490,Thüringen,2021-47,19934,89,2120237,0.004465,940.177914
1491,Thüringen,2021-48,22059,37,2120237,0.001677,1040.402559

In [39]:
labels = ['w1', 'w2', 'w3']

In [40]:
labels

['w1', 'w2', 'w3']

In [42]:
 pd.cut(df.week, ['2020-01', '2020-26', '2020-52', '2021-48'], right=False, labels=labels)

ValueError: could not convert string to float: '2020-01'

In [57]:
df['week_int'] = df['week'].str.replace('-', '').astype(int)

In [50]:
df

,Bundesland,week,AnzahlFall,AnzahlTodesfall,population,ratio,inzidenz,week_int
0,Baden-Württemberg,2020-09,20,0,11103043,0.000000,0.180131,202009
1,Baden-Württemberg,2020-10,208,5,11103043,0.024038,1.873360,202010
2,Baden-Württemberg,2020-11,1322,28,11103043,0.021180,11.906646,202011
3,Baden-Württemberg,2020-12,4430,132,11103043,0.029797,39.898972,202012
4,Baden-Württemberg,2020-13,7149,334,11103043,0.046720,64.387754,202013
...,...,...,...,...,...,...,...,...
1487,Thüringen,2021-44,9300,117,2120237,0.012581,438.630210,202144
1488,Thüringen,2021-45,11783,141,2120237,0.011966,555.739759,202145
1489,Thüringen,2021-46,14599,114,2120237,0.007809,688.555100,202146
1490,Thüringen,2021-47,19934,89,2120237,0.004465,940.177914,202147
1491,Thüringen,2021-48,22059,37,2120237,0.001677,1040.402559,202148

In [53]:
pd.cut(df.week_int, [202001, 202026, 202052, 202149], right=False, labels=labels)

0       w1
1       w1
2       w1
3       w1
4       w1
        ..
1487    w3
1488    w3
1489    w3
1490    w3
1491    w3
Name: week_int, Length: 1492, dtype: category
Categories (3, object): ['w1' < 'w2' < 'w3']

In [55]:
df = cases.select_state_week_data("gesamt", "Alle", "Infektionsfälle") \
    .assign(week_int =  df['week'].str.replace('-', '').astype(int))

In [56]:
df

,Bundesland,week,AnzahlFall,AnzahlTodesfall,population,ratio,inzidenz,week_int
0,Baden-Württemberg,2020-09,20,0,11103043,0.000000,0.180131,202009
1,Baden-Württemberg,2020-10,208,5,11103043,0.024038,1.873360,202010
2,Baden-Württemberg,2020-11,1322,28,11103043,0.021180,11.906646,202011
3,Baden-Württemberg,2020-12,4430,132,11103043,0.029797,39.898972,202012
4,Baden-Württemberg,2020-13,7149,334,11103043,0.046720,64.387754,202013
...,...,...,...,...,...,...,...,...
1487,Thüringen,2021-44,9300,117,2120237,0.012581,438.630210,202144
1488,Thüringen,2021-45,11783,141,2120237,0.011966,555.739759,202145
1489,Thüringen,2021-46,14599,114,2120237,0.007809,688.555100,202146
1490,Thüringen,2021-47,19934,89,2120237,0.004465,940.177914,202147
1491,Thüringen,2021-48,22059,37,2120237,0.001677,1040.402559,202148